*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

html {
	font-size: 18px;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Inter Variable", sans-serif;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: #1c0f35;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%),
		0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
	--red: #f80b01;
	--cream: #f1f5e7;
	--dark-green: #083d20;
}

h1 {
	font-size: 5.611rem;
	line-height: 1.069;
}

h2 {
	font-size: 3.167rem;
	line-height: 1.193;
}

section {
	padding: 4.778rem 0;
	display: flex;
	justify-content: center;
}

main {
	width: 100%;
	max-width: 80rem;

	display: flex;
}
