---
import { Image } from "astro:assets";
import Page from "../layouts/Page.astro";

import familia from "/src/assets/familia.jpg";
---

<Page>
  <div class="px-4 py-8 mx-auto rounded-xl bg-cream">
    <h2 class="mb-8 text-5xl md:text-6xl lg:text-7xl font-bold text-center text-red">¿Quién está detrás de Ottagua?</h2>
    <div class="space-y-6 max-w-prose">
      <p class="text-base leading-6 text-red">¡Hola! Bienvenidos a Ottagua, un espacio para mantener a la comunidad latina de Ottawa y Gatineau informada. Por ahora, es un proyecto individual pero con el tiempo espero que más personas se unan y pronto sea un espacio para compartir experiencias, conocimientos y noticias.</p>
      <p class="text-base leading-6 text-red">Me llamo Luis Martínez y llegué a Ottawa hace dos años junto con mi familia (mi esposa y nuestro hijo).</p>
      <p class="text-base leading-6 text-red">Cuando llegamos a Ottawa, conocimos a mucha gente que como nosotros acababa de llegar. Algo que nos pasaba muy seguido era que nos enterábamos tarde de los eventos. O que nuestros amigos colombianos descubrían una taquería y nosotros, un restaurante paisa; pero no nos decíamos pensando que ellos ya sabían de esto y viceversa.</p>
      <p class="text-base leading-6 text-red">Este segundo aňo, me he podido organizar más. Ahora ya se qué está pasando casi siempre en Ottawa y Gatineau. También he descubierto más restaurantes y negocios. Ya me me entero de los eventos antes de que sucedan!</p>
      <Image src={familia} alt='familia' class="my-8 w-full rounded-xl" />
      <p class="text-base leading-6 text-red">También he tenido la oportunidad de emprender nuevos proyectos como este (Ottagua) o mi agencia de diseño web: <a href='https://summerdays.studio/' class="font-semibold underline underline-offset-4 decoration-2 hover:text-red-accent hover:underline hover:underline-offset-4">Summer Days Studio</a></p>
      <p class="text-base leading-6 text-red">Por eso nace Ottagua: para ser ese espacio donde los latinos en Ottawa puedan compartir noticias, negocios, reseñas y mucho más. Es un lugar para encontrarnos, para conocernos, y para fortalecer nuestra presencia en esta hermosa ciudad.</p>
      <p class="text-base leading-6 text-red">¡Te invito a unirte a Ottagua y a ser parte de esta emocionante aventura!</p>
    </div>
  </div>
</Page>

<style>
	p {
		max-width: 45ch;
	}

	img {
		border-radius: 20px;
		aspect-ratio: 16/9;
	}

	
	
</style>
