---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class='company'>
		<main>
			<h2>¿Tienes una empresa latina en Ottawa?</h2>
		</main>

		<main>
			<div class='info'>
				<p>
					Todavía no tengo claros todos los detalles. Por ahora, solo
					estoy recolectando los datos para crear un directorio de
					negocios latinos en Ottawa.
				</p>
				<p>
					Si tienes un negocio que quieras que aparezca en el
					directorio cuando haga el lanzamiento por favor deja los
					datos en este formulario.
				</p>
			</div>
			<div class='iframecontainer'>
				<iframe
					data-tally-src='https://tally.so/embed/nGloXe?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1'
					loading='lazy'
					width='100%'
					height='600'
					frameborder='0'
					marginheight='0'
					marginwidth='0'
					title='Directorio Empresas Ottagua'></iframe>
			</div>
		</main>
	</div>
</BaseLayout>

<style>
	.company {
		color: var(--red);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 2rem;
		max-width: 75.5rem;
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: top;
		justify-content: center;
		flex: 1;
		gap: 2rem;
	}

	h2 {
		text-align: center;
		margin-bottom: 2rem;
		color: var(--red);
		max-width: 25ch;
	}

	p {
		margin-bottom: 1rem;
		color: var(--red);
		max-width: 24.444rem;
	}

	.iframecontainer {
		align-self: center;
		max-width: 50rem;
	}

	@media screen and (max-width: 600px) {
		main {
			flex-direction: column;
			gap: 0;
		}

		h2 {
			margin-bottom: 1rem;
		}

		.iframecontainer {
			width: 100%;
		}
	}
</style>

<script>
	var d = document,
		w = "https://tally.so/widgets/embed.js",
		v = function () {
			"undefined" != typeof Tally
				? Tally.loadEmbeds()
				: d
						.querySelectorAll("iframe[data-tally-src]:not([src])")
						.forEach(function (e) {
							e.src = e.dataset.tallySrc;
						});
		};
	if ("undefined" != typeof Tally) v();
	else if (d.querySelector('script[src="' + w + '"]') == null) {
		var s = d.createElement("script");
		(s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
	}
</script>
