---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class='company'>
		<main>
			<h2>Ayúdame a encontrar mejores noticias</h2>
		</main>

		<main>
			<div class='info'>
				<p>
					Estoy siguiendo varios grupos latinos en Facebook, sigo a
					todas las embajadas que he podido encontrar, y sigo las
					noticias locales para curar las noticias mas importantes
					para nuestra comunidad. Pero siempre estoy descubriendo
					nuevas fuentes.
				</p>

				<p>
					Conoces alguna fuente que debería checar? Por favor,
					compártela conmigo.
				</p>
			</div>
			<div class='iframecontainer'>
				<iframe
					data-tally-src='https://tally.so/embed/3yYzD4?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1'
					loading='lazy'
					width='100%'
					height='600'
					frameborder='0'
					marginheight='0'
					marginwidth='0'
					title='Ayuda a Ottagua'></iframe>
			</div>
		</main>
	</div>
</BaseLayout>

<style>
	.company {
		color: var(--red);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 2rem;
		max-width: 75.5rem;
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: top;
		justify-content: center;
		flex: 1;
		gap: 2rem;
	}

	h2 {
		text-align: center;
		margin-bottom: 2rem;
		color: var(--red);
		max-width: 25ch;
	}

	p {
		margin-bottom: 1rem;
		color: var(--red);
		max-width: 24.444rem;
	}

	.iframecontainer {
		align-self: center;
		max-width: 50rem;
	}

	@media screen and (max-width: 600px) {
		main {
			flex-direction: column;
			gap: 0;
		}

		h2 {
			margin-bottom: 1rem;
		}

		.iframecontainer {
			width: 100%;
		}
	}
</style>

<script>
	var d = document,
		w = "https://tally.so/widgets/embed.js",
		v = function () {
			"undefined" != typeof Tally
				? Tally.loadEmbeds()
				: d
						.querySelectorAll("iframe[data-tally-src]:not([src])")
						.forEach(function (e) {
							e.src = e.dataset.tallySrc;
						});
		};
	if ("undefined" != typeof Tally) v();
	else if (d.querySelector('script[src="' + w + '"]') == null) {
		var s = d.createElement("script");
		(s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
	}
</script>
