---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import HeaderHome from "../components/HeaderHome.astro";
import Hero from "../layouts/Hero.astro";
import CardWithText from "../layouts/CardWithText.astro";
import Footer from "../components/Footer.astro";
import SignupForm from "../layouts/SignupForm.astro";
import Benefits from "../layouts/Benefits.astro";
---

<!doctype html>
<html lang='es'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<HeaderHome class='box' />
		<Hero />
		<CardWithText />
		<Benefits />
		<SignupForm />
		<Footer />
	</body>
</html>
