---
import Button from "../../components/Button.astro";
import ListElement from "../../components/ListElement.astro";
import "remixicon/fonts/remixicon.css";
---

<section>
	<h3>¿Por qué suscribirse?</h3>

	<main>
		<div class='company'>
			<h4>Empresas</h4>
			<ul>
				<li>Anuncia tus eventos a una comunidad cautiva</li>
				<li>
					Forma parte del directorio de empresas de Ottagua
					(próximamente)
				</li>
				<li>Oportunidades de networking</li>
				<li>Es gratis</li>
			</ul>
			<a href='/company'>Leer más</a>
		</div>

		<div class='benefits'>
			<h4>Suscriptores</h4>
			<ul>
				<ListElement
					icon='ri-mail-open-line'
					text='Consejos para pasarla lo mejor posible en Ottawa'
				/>
				<ListElement
					icon='ri-list-indefinite'
					text='Directorio de empresas de Ottagua (Próximamente)'
				/>
				<ListElement
					icon='ri-restaurant-line'
					text='Recomendaciones de restaurantes'
				/>
				<ListElement
					icon='ri-candle-line'
					text='Recomendaciones de cosas que hacer en la ciudad'
				/>
				<ListElement
					icon='ri-money-dollar-circle-line'
					text='Es gratis'
				/>
			</ul>
			<Button title='Suscríbete' link='/#signup' variant='primary' />
		</div>
	</main>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--cream);
	}

	main {
		padding: var(--space-xl);
		justify-content: center;
		color: var(--red);
		align-items: center;
		flex-direction: row;
	}

	.company {
		width: 100%;
		max-width: 24.444rem;
		border-radius: var(--radius-lg);
		padding: var(--space-lg);

		p {
			font-size: var(--font-xs);
			margin-top: var(--space-lg);
		}
		ul li {
			margin-bottom: var(--space-xs);
			margin-left: var(--space-sm);
		}
	}

	.benefits {
		width: 100%;
		max-width: 24.444rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--cream);
		border: 1px solid var(--red);
		border-radius: var(--radius-lg);
		padding: var(--space-lg);
	}

	h3 {
		color: var(--red);
		text-align: left;
		margin-bottom: var(--space-lg);

		@media screen and (max-width: 800px) {
			text-align: center;
		}
	}

	h4 {
		margin-bottom: var(--space-lg);
	}
	.button {
		justify-self: center;
		align-self: center;
	}

	@media screen and (max-width: 800px) {
		main {
			flex-direction: column-reverse;
			padding: 0 var(--space-sm);
		}

		.company {
			padding: var(--space-lg) 0;
		}
	}
</style>
