---
import ButtonSecondary from "../../components/ButtonSecondary.astro";

import { Image } from "astro:assets";
import city from "./../../assets/ottawa-parliament.jpg";
---

<section>
	<main>
		<div class='image'>
			<Image src={city} alt='Image by DEZALB from Pixabay' />
		</div>
		<div class='text'>
			<h2>Conectando a la comunidad latina en Ottawa - Gatineau</h2>
			<p>
				Nuestra misión es simple. Crear un espacio donde la comunidad
				latina de Ottawa pueda compartir experiencias, noticias y
				conocerse.
			</p>
			<ButtonSecondary
				title='Únete a la lista de espera'
				link='/#signup'
			/>
		</div>
	</main>
</section>

<style>
	section {
		background-color: var(--cream);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 1;
		gap: 2rem;
	}

	.image {
		max-width: 35.722rem;
		display: block;
	}

	img {
		border-radius: 20px;
	}

	.text {
		color: var(--red);
		max-width: 35.722rem;
		gap: 2rem;
		display: flex;
		flex-direction: column;
	}

	.text p {
		max-width: 24.444rem;
	}

	@media screen and (max-width: 600px) {
		section {
			flex-direction: column;
		}

		main {
			flex-direction: column;
			padding: 0 1rem;
		}

		.image {
			max-width: 100%;
		}

		img {
			aspect-ratio: 1 / 1;
			height: auto;
		}

		.text {
			max-width: 100%;
		}
	}
</style>
