---
import ButtonSecondary from "../../components/ButtonSecondary.astro";

import { Image } from "astro:assets";
import city from "./../../assets/ottawa-parliament.jpg";
---

<section>
	<main>
		<div class='image'>
			<Image src={city} alt='Image by DEZALB from Pixabay' />
		</div>
		<div class='text'>
			<h2>
				Todo lo que me hubiera gustado saber antes de mudarme a Ottawa
			</h2>
			<p>
				<b
					>Descubre cómo sobrevivir al frío, qué hacer los fines de
					semana, y cómo encontrar un equipo de fútbol en Ottawa.</b
				>
			</p>
			<p>
				Cada semana, comparto los tips y trucos que he aprendido (y los
				que me han dado) para disfrutar al máximo la vida en la capital
				de Canadá.
			</p>
			<ButtonSecondary title='Suscríbete' link='/#signup' />
		</div>
	</main>
</section>

<style>
	section {
		background-color: var(--cream);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 1;
		gap: 2rem;
	}

	.image {
		aspect-ratio: 1;
		display: flex;
		align-items: center;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.text {
		color: var(--red);
		max-width: 35.722rem;
		display: flex;
		flex-direction: column;
	}

	.text p {
		max-width: 24.444rem;
	}

	@media screen and (max-width: 600px) {
		section {
			flex-direction: column;
		}

		main {
			flex-direction: column;
			padding: 0 1rem;
		}

		.image {
			max-width: 100%;
		}

		img {
			aspect-ratio: 1 / 1;
			height: auto;
		}

		.text {
			max-width: 100%;
		}
	}
</style>
