---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Header from "../../components/Header.astro";
---

<section class="my-0 w-full">
	<div class=" flex flex-col items-center justify-center max-w-[1240px] mx-auto gap-8">
		<div class="object">
			<LottieAnimation
				src='/ottagua-logo-motion.json'
				autoplay='visible'
				loop='false'
			/>
		</div>
	</div>
</section>
</header>

<Header />

<style>
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		opacity: 0;
		background-color: transparent;
		z-index: 2;
	}

	main, .object {
		background-color: var(--cream);
	}

	.object {
		width: 100vw;
		padding: 1.5rem 1rem;
	}
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener('DOMContentLoaded', function () {
    gsap.from(".box", {
      scrollTrigger: {
        trigger: ".box",
        start: "top top",
        end: "+=100",
        scrub: 1,
      },
      opacity: 1,
    });

    gsap.from(".nav-header", {
      scrollTrigger: {
        trigger: ".box",
        start: "top top",
        end: "+=100",
        scrub: 1,
      },
      opacity: 0,
    });
  });
</script>
