---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Header from "../../components/Header.astro";
---

<header class='box'>
	<div class='main'>
		<div class='object'>
			<LottieAnimation
				src='/ottagua-logo-motion.json'
				autoplay='visible'
				loop='false'
			/>
		</div>
	</div>
</header>

<Header />

<style>
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		opacity: 0;
		background-color: transparent;
		z-index: 2;
	}

	.object {
		width: 100vw;
		padding: 1.5rem 1rem;
	}
</style>

<script>
	gsap.from(".box", {
		scrollTrigger: {
			trigger: ".box",
			start: "top top",
			end: "+=100",
			scrub: 1,
		},
		opacity: 1,
	});

	gsap.from(".nav-header", {
		scrollTrigger: {
			trigger: ".box",
			start: "top top",
			end: "+=100",
			scrub: 1,
		},
		opacity: 0,
	});
</script>
