---
import ButtonMain from "../../components/ButtonMain.astro";
---

<section>
	<main>
		<div class='hero'>
			<h1>La guía de supervivencia para latinos en Ottawa</h1>
			<p>
				Suscríbete al único newsletter con todo lo que necesitas saber
				para sobrevivir a la Capital de Canadá.
			</p>
			<ButtonMain title='Suscríbete' link='/#signup' />
		</div>
	</main>
</section>

<style>
	section {
		background-color: var(--cream);
		width: 100%;
	}

	main {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		flex-direction: row;
	}

	.hero {
		color: var(--red);
		padding: 2rem;
		max-width: 50rem;
		display: flex;
		gap: 1rem;
		flex-direction: column;
	}

	.hero p {
		max-width: 25.278rem;
	}

	@media screen and (max-width: 600px) {
		section {
			min-height: 10vh;
			padding: 2rem 0;
		}

		.hero {
			padding: 0rem;
		}
	}
</style>
