---
const { title, link, variant = "primary" } = Astro.props;
import "remixicon/fonts/remixicon.css";
---

<a 
  href={link} 
  class:list={[
    "px-6 py-2 rounded-full text-sm inline-flex items-center gap-1 w-fit transition-all duration-200 no-underline",
    {
      "bg-red text-cream hover:bg-red-accent": variant === "primary",
      "border-2 border-cream text-cream hover:bg-cream hover:text-red": variant === "secondary" && Astro.slots.has('parent-bg-red'),
      "border-2 border-red text-red hover:bg-red hover:text-cream": variant === "secondary" && !Astro.slots.has('parent-bg-red')
    }
  ]}
>
	{title}
	<i class='ri-arrow-right-up-line'></i>
</a>
