---
const { title, link } = Astro.props;
import "remixicon/fonts/remixicon.css";
---

<a href={link} class='button'>{title} <i class='ri-arrow-right-up-line'></i></a>

<style>
	.button {
		background-color: var(--dark-green);
		color: var(--cream);
		padding: 1rem 2rem;
		border-radius: 2rem;
		text-decoration: none;
		margin: 1rem 0;
		display: inline-block;
		font-size: 1rem;
		width: fit-content;
	}
</style>
