---
const { title, link } = Astro.props;
import "remixicon/fonts/remixicon.css";
---

<a href={link} class:list={["button"]}>
	{title}
	<i class='ri-arrow-right-up-line'></i>
</a>

<style>
	.button {
		background-color: var(--red);
		padding: 0.5rem 1.5rem;
		border-radius: 1.5rem;
		text-decoration: none;
		color: var(--cream);
		display: inline-block;
		font-size: var(--font-sm);
		width: fit-content;
		transition: background-color 0.2s ease;
	}
	
	.button:hover {
		background-color: var(--red-accent);
	}
</style>
