---
---

<div class="email-info">
  <p>Te acabo de enviar un "Email de Bienvenida", revísalo en tu bandeja de entrada - ¿Podrías <strong>responder a ese correo</strong> con un simple "Hola"?</p>
  <p class="why-title">¿Por qué?</p>
  <p>Al responder, le estás diciendo a tu proveedor de correo electrónico que confías en mí como remitente.</p>
</div>

<style>
  .email-info {
    background-color: rgba(248, 11, 1, 0.05);
    padding: 1.5rem;
    border-radius: 0.75rem;
    margin: 2rem auto;
    max-width: 40rem;
    width: 100%;
    text-align: center;
  }
  
  .email-info p {
    margin-bottom: 0.75rem;
    color: var(--red);
    line-height: 1.6;
    font-size: 1.125rem;
  }
  
  .email-info p:last-child {
    margin-bottom: 0;
  }
  
  .why-title {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .email-info {
      padding: 1.25rem;
    }
    
    .email-info p {
      font-size: 1rem;
    }
  }
</style>
