---
const today = new Date();
---

<footer class='footer'>
	<div class='links'>
		<p>&copy; {today.getFullYear()} Ottagua. All rights reserved.</p>

		<div class='footer-links'>
			<a href='/#signup'>Suscríbete</a>
			<a href='/about/'>Sobre Ottagua</a>
			<a href='/help/'>Coopera con Ottagua</a>
			<a href='/unsubscribe/'>Cancelar suscripción</a>
		</div>
	</div>
</footer>
<style>
	footer {
		background-color: var(--red);
		display: flex;
		flex-direction: column;
		border-radius: var(--radius-lg) var(--radius-lg) 0 0;
		padding: var(--space-sm) 0;
		align-items: center;
		font-size: var(--font-sm);
		color: var(--cream);
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		gap: var(--space-md);
	}

	.links a {
		color: var(--cream);
		text-decoration: none;
	}

	.footer-links {
		display: flex;
		flex-direction: row;
		gap: var(--space-md);
	}

	@media screen and (max-width: 600px) {
		.links {
			flex-direction: column-reverse;
			gap: var(--space-xs);
			align-items: center;
		}
	}
</style>
