---
const today = new Date();
---

<footer>
	<div class='links'>
		<p>&copy; {today.getFullYear()} Ottagua. All rights reserved.</p>

		<a href='/signup/'>Suscribete</a>
		<a href='/about/'>Sobre Ottagua</a>
	</div>
</footer>
<style>
	footer {
		background-color: var(--green);
		display: flex;
		flex-direction: column;
		border-radius: 2rem 2rem 0 0;
		padding: 1rem 0;
		align-items: center;
		font-size: 0.778rem;
		color: var(--dark-green);
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		gap: 1.5rem;
	}

	.links a {
		color: var(--dark-green);
		text-decoration: none;
	}

	@media screen and (max-width: 600px) {
		.links {
			flex-direction: column-reverse;
			gap: 0.5rem;
			align-items: center;
		}
	}
</style>
