---
import { Image } from "astro:assets";
import Logo from "./../img/ottagua-logo.svg";
---

<header>
	<div class='main'>
		<nav>
			<Image src={Logo} alt='Ottagua Logo' />
		</nav>
	</div>
</header>
<style>
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--red);
		width: 100vw;
		padding: 27px;
	}

	header img {
		width: 100vw;
	}
</style>
