---
import { Image } from "astro:assets";
import Logo from "./../assets/ottagua-logo.svg";
---

<header>
	<div class='main'>
		<Image src={Logo} alt='Ottagua Logo' class='logo' />
		<nav></nav>
	</div>
</header>
<style>
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--red);
		width: 100vw;
	}

	header img {
		width: 100vw;
		margin: 27px;
	}
</style>
