---
import { Image } from "astro:assets";
import Logo from "./../assets/ottagua-logo.svg";
---

<header>
	<main>
		<a href='/'><Image src={Logo} alt='Ottagua Logo' /></a>
		<nav>
			<ul>
				<li><a href='/company'>Empresas</a></li>
				<li><a href='/#signup'>Suscribete</a></li>
			</ul>
		</nav>
	</main>
</header>
<style>
	header {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: var(--red);
		width: 100vw;
		padding: 1rem;
	}

	header img {
		width: 150px;
		height: auto;
	}

	main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	nav ul {
		list-style: none;
		display: flex;
		gap: 1rem;
	}

	li a {
		color: var(--cream);
		text-decoration: none;
	}
</style>
