---
import { Image } from "astro:assets";
import Logo from "./../assets/ottagua-logo.svg";
---

<header>
	<div class='main'>
		<a href='/'><Image src={Logo} alt='Ottagua Logo' /></a>
		<nav></nav>
	</div>
</header>
<style>
	header {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: var(--red);
		width: 100vw;
		padding: 1rem;
	}

	header img {
		width: 150px;
		height: auto;
	}
</style>
