---
const { icon, text } = Astro.props;
---

<li>
	<i class={icon}></i>
	<span>{text}</span>
</li>

<style>
	li {
		display: flex;
		align-items: center;
		margin-bottom: var(--space-xs);
	}

	li i {
		margin-right: var(--space-md);
		font-size: var(--font-lg);
	}

	li span {
		font-size: var(--font-base);
	}
</style>
