---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang='es-Mx'>
	<head>
		<script
			defer
			src='https://analytics.tresytres.mx/script.js'
			data-website-id='79d0cd30-9d34-48f0-96cf-1671e83a3b71'></script>

		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>
			@media screen and (max-width: 600px) {
				section {
					margin-top: 100px;
				}
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<section>
			<slot />
		</section>
		<Footer />
	</body>
</html>
