---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang='es-MX' class='scroll-smooth' style='font-size: 18px;'>
	<head>
		<BaseHead title={title || SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class='bg-cream text-red font-sans antialiased max-w-[2200px] mx-auto'>
		<Header title={SITE_TITLE} />
		<div class='flex justify-center w-full pt-20 md:pt-24 lg:pt-28'>
			<slot />
		</div>
		<Footer />

		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src='https://www.googletagmanager.com/ns.html?id=GTM-KJQQD8Z2'
				height='0'
				width='0'
				style='display:none;visibility:hidden'></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
