---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang='es-Mx'>
	<head>
		<script
			defer
			src='https://analytics.tresytres.mx/script.js'
			data-website-id='79d0cd30-9d34-48f0-96cf-1671e83a3b71'></script>

		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-KJQQD8Z2");
		</script>
		<!-- End Google Tag Manager -->

		<style>
			@media screen and (max-width: 600px) {
				section {
					margin-top: 100px;
				}
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<section>
			<slot />
		</section>
		<Footer />

		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src='https://www.googletagmanager.com/ns.html?id=GTM-KJQQD8Z2'
				height='0'
				width='0'
				style='display:none;visibility:hidden'></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
