---
import ButtonSecondary from "../components/ButtonSecondary.astro";

import { Image } from "astro:assets";
import party from "./../img/ottawa-party.jpg";
---

<section>
	<main>
		<div class='image'>
			<Image src={party} alt='A party In Ottawa' />
		</div>
		<div class='text'>
			<h2>Conectando a la comunidad latina en Ottawa - Gatineau</h2>
			<p>
				Nuestra misión es simple. Crear un espacio donde la comunidad
				latina de Ottawa pueda compartir experiencias, noticias y
				conocerse.
			</p>
			<ButtonSecondary
				title='Únete a la lista de espera'
				link='/signup'
			/>
		</div>
	</main>
</section>

<style>
	section {
		background-color: var(--cream);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 1;
		gap: 1.5rem;
	}

	.image {
		max-width: 35.722rem;
		display: block;
	}

	img {
		border-radius: 20px;
	}

	.text {
		color: var(--dark-green);
		max-width: 35.722rem;
		gap: 1.5rem;
		display: flex;
		flex-direction: column;
	}

	.text p {
		max-width: 24.444rem;
	}
</style>
