---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang='es'>
	<head>
		<script
			defer
			src='https://us.umami.is/script.js'
			data-website-id='fad6b1ad-7108-4b7c-85dc-684494724cee'></script>

		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<section>
			<slot />
		</section>
		<Footer />
		<style>
			@media screen and (max-width: 600px) {
				section {
					margin-top: 100px;
				}
			}
		</style>
	</body>
</html>
