---
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
	<section>
		<main>
			<slot />
		</main>
	</section>
</MainLayout>

<style>
	section {
		color: var(--red);
	}
	main {
		flex-direction: column;
		gap: 1rem;
		max-width: 50ch;
	}
	@media screen and (max-width: 600px) {
		main {
			max-width: 100%;
			padding: 0 1rem;
		}
	}
</style>
