---
import MainLayout from "./MainLayout.astro";
---

<MainLayout>
	<section>
		<main>
			<slot />
		</main>

		<sidebar>
			<slot name='sidebar' />
		</sidebar>
	</section>
</MainLayout>

<style>
	section {
		color: var(--red);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		direction: column;
		gap: 2rem;
	}
	main {
		flex-direction: column;
		gap: 1rem;
		max-width: 50ch;
	}
	@media screen and (max-width: 600px) {
		main {
			max-width: 100%;
			padding: 0 1rem;
		}
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		max-width: 600px;
		width: 100%;
	}
</style>
